[submodule "acme-corporation/themes/Eclectic"]
	path = acme-corporation/themes/Eclectic
	url = https://github.com/atishay/eclectic-hugo-theme.git
	
[submodule "acme-corporation/themes/SanmaTheme"]
	path = acme-corporation/themes/SanmaTheme
	url = https://github.com/iSanmartin8a/SanmaTheme
[submodule "acme-corporation/themes/MyTheme"]
	path = acme-corporation/themes/MyTheme
	url = https://github.com/iSanmartin8a/SanmaTheme.git
